<!DOCTYPE html>
<html>
  <head>
    <title>Фотогаллерея</title>
    <style>
      td {
        border: solid black 1px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
